<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            name="Hatom Editor"
            extensions="xhtml,html"
            icon="icons/hatomValidate.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="it.pronetics.madstore.hatom.eclipse.HatomEditor"
            id="it.pronetics.madstore.hatom.eclipse.editor.HatomEditor">
      </editor>
   </extension>
   
   <!-- This view is an output tab -->
   <extension point="org.eclipse.ui.views">
   	  <category
            id="it.pronetics.madstore.hatom.eclipse"
            name="Hatom Editor View">
   	  </category>
      <view
            allowMultiple="false"
            class="it.pronetics.madstore.hatom.eclipse.editor.HatomEditorView"
            icon="icons/hatomValidate.png"
            id="it.pronetics.madstore.hatom.eclipse.HatomEditorView"
            name="Hatom Editor View"
            restorable="true">
      </view>
   </extension>
   
   <extension point="org.eclipse.ui.viewActions">
   
   		<viewContribution 
   			id="it.pronetics.madstore.hatom.eclipse.Up" 
   		    targetID="it.pronetics.madstore.hatom.eclipse.HatomEditorView">
   			<action
           		class="it.pronetics.madstore.hatom.eclipse.editor.ReportScrollAction"
           		id="it.pronetics.madstore.hatom.eclipse.ReportScrollAction.Up"
           		label="Scroll Up"
           		icon="icons/arrow_up.gif"
           		toolbarPath="Scroll"
           		style="push">
   			</action>
   		</viewContribution>
   		
   		<viewContribution 
   			id="it.pronetics.madstore.hatom.eclipse.Down" 
   		    targetID="it.pronetics.madstore.hatom.eclipse.HatomEditorView">
   			<action
           		class="it.pronetics.madstore.hatom.eclipse.editor.ReportScrollAction"
           		id="it.pronetics.madstore.hatom.eclipse.ReportScrollAction.Down"
           		label="Scroll Down"
           		toolbarPath="Scroll"
           		icon="icons/arrow_down.gif"
           		style="push">
   			</action>
   		</viewContribution>
   		
   </extension>    

   <!-- Item in the main toolbar --> 
   <extension point="org.eclipse.ui.editorActions">
       <editorContribution 
         id="it.pronetics.madstore.hatom.eclipse.editor.HatomEditor" 
         targetID="it.pronetics.madstore.hatom.eclipse.editor.HatomEditor">        
	   <action id="it.pronetics.madstore.hatom.eclipse.editor.HatomEditor" 
              label="hAtom Validator" 
              toolbarPath="HatomEditor" 
              icon="icons/hatomValidate.png" 
              tooltip="Validate hAtom microformat" 
              class="it.pronetics.madstore.hatom.eclipse.HatomEditor"
              /> 
      </editorContribution>
   </extension>
   
   <!-- Prefernce page for hAtom in the main preferences Window -->
   <extension point="org.eclipse.ui.preferencePages">
      <page class="it.pronetics.madstore.hatom.eclipse.prefs.PreferencesPage"
            id="HatomPlugin.PrefPage1"
            name="Hatom Editor">
      </page>
   </extension>
   
</plugin>
